<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Switchblade Authorization</title>
</head>
<body>
Plz connect to discord first
<br/>
<button disabled id="connect-button">
    Connect with discord
</button>
</body>
</html>
<style>
    body {
        text-align: center;
    }

    button {
        margin-top: 30px;
    }
</style>
<script>
  (() => {
    const params = new URLSearchParams(window.location.search)
    fetch('/oauth2/discord_url?redirect_to=' + encodeURIComponent(params.get('redirect_to')))
      .then(r => r.json())
      .then(({url}) => {
        const el = document.getElementById('connect-button')
        el.onclick = () => location.assign(url)
        el.removeAttribute('disabled')
      })
  })()
</script>
