* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

@keyframes skeleton {
    0% {
        background-color: #dcdcdc;
    }

    50% {
        background-color: #cbcbcb;
    }

    100% {
        background-color: #dcdcdc;
    }
}